.item {padding:0}


ion-view {
	margin-top: 43px;
}

ion-header-bar {
	background:#202020!important;
	border-bottom: 3px solid #51E649!important;

	h1 {color:#51E649 !important}
}
ion-modal-view {
	background:#202020!important;
}

#download-modal {
  top: 20% !important;
  right: 20% !important;
  bottom: 50% !important;
  left: 20% !important;
  overflow: visible !important;
  min-height: 200px !important;
  width: 60% !important;

  .scroll {height:50px;}
}

.button-clear {
	color:#51E649!important;
	i {

		color:#51E649!important;
		font-size: 26px;
	}
}

progress {
	position: absolute;
	top:0;
	left:0;
	right:0;
	margin:0;
	height:60px;
}

.progress-num {
	color:#fff;
	z-index: 999;
	position: absolute;
	top:20px;
	left:20px;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #202020;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #3299E6;
}

progress:after {
  content: attr(value) "%";
  position: absolute;
  top: 20px;
  color:#fff;
  left:5px;
}


.btn-right{

  position: absolute;
  right:8px;
}

.btn-right {
	position: absolute;
	right:8%;
}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}
.text-center {
	text-align: center;
}

.img-contain {
	position: relative;
	display: flex;
	i {
		font-size: 38px;
		position: absolute;
		right: 8%;
		top:5%;
		color:#fff;
}
}
ion-view {
	margin-top: 43px;
}

ion-header-bar {
	background:#202020!important;
	border-bottom: 3px solid #51E649!important;

	h1 {color:#51E649 !important}
}
ion-modal-view {
	background:#202020!important;
}

.button-clear {
	color:#51E649!important;
	i {

		color:#51E649!important;
		font-size: 26px;
	}
}

.btn-right {
	position: absolute;
	right:8%;
}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}
.text-center {
	text-align: center;
}

.img-contain {
	position: relative;
	display: flex;
	i {
		font-size: 38px;
		position: absolute;
		right: 8%;
		top:5%;
		color:#fff;

	}

}

.v-align {
  display: table-cell;
  vertical-align: middle;
}

.upload {
	height: 100vh;
	width:100%;
    display: table;
	text-align: center;

	.scroll {height:100%!important;}
	i {
		font-size: 180px;
		color:#DED;
	}
	button {
		font-size: 24px;
	}



}

.upload-div img {height:100vh;}

.download {
	position: relative;

	height:92vh;
	button {
		font-size: 24px;
	}
	i {
		font-size: 38px;
		color:#51E649!important;
	}

}

.download-container {
	position: absolute;
	bottom: 20px;
	width: 256px;
	margin-left: 50%;
	left: -128px;
}