<ion-nav-bar class="nav-bar">
            <ion-nav-buttons>
              <button ng-hide="$ctrl.photoExists" class="btn-right" ng-click="$ctrl.toggleModal('show')">
                <i class="ion-plus-round"></i>
              </button>
              <button ng-show="$ctrl.photoExists" class="btn-left" ng-click="$ctrl.cancelImage()"><i class="ion-close"></i></button>
              <button ng-show="$ctrl.photoExists" class="btn-right"><i class="ion-checkmark"></i></button>
            </ion-nav-buttons>
</ion-nav-bar>

<ion-view ng-show="{{$ctrl.list.length > 0}}" view-title="List">
  <ion-list>
    <ion-item>
      <div class="row" ng-repeat="item in $ctrl.list track by $index" ng-if="$index % 2 === 0">
      <div class="col col-50" ng-if="$index < $ctrl.list.length">
                  <img ng-src="{{item}}" width="100%" />
              </div>
              <div class="col col-50" ng-if="$index + 1 < $ctrl.list.length">
                  <img ng-src="{{item}}" width="100%" />
              </div>

      </div>
    </ion-item>
  </ion-list>
</ion-view>

<ion-view ng-show="{{$ctrl.list.length == 0}}" view-title="List">

  <div class="table-contain">
   <div class="rectangle"><h2>test</h2></div>

      <div id="myImage" ng-show="$ctrl.photoExists">
        <img src="{{$ctrl.URI}}"/>
      </div>

      <div class="center-block">
        <button class="add-image" ng-click="$ctrl.toggleModal('show')">+</button>
      </div>

      <ion-scroll>
    <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
  </ion-scroll>

  </div>


</ion-view>

<ion-modal-view ng-show="$ctrl.modalState">
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
      <button ng-click="$ctrl.toggleModal('hide')">Hide</button>
    </ion-header-bar>
    <ion-content>
    <button ng-click="$ctrl.addImage('camera')">Take Picture</button>
    <button ng-click="$ctrl.addImage('file')">From Gallery</button>

    </ion-content>
</ion-modal-view>

