img {
	height: 50%;
}

.item {padding:0}

ion-view {
	margin-top: 43px;
}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}

.btn-right {
	position: absolute;
	right: 8%;
}

.img-contain {
	position: relative;
	display: flex;
	i {
		font-size: 30px;
		position: absolute;
		right: 8%;
		top:5%;
		color:#fff;

	}
	
}