<!--Header Bar-->
<ion-nav-bar class="nav-bar">
            <ion-nav-buttons>
              <button class="btn-right button-clear" ng-click="$ctrl.openModal('upload')">
                <i class="ion-plus-round"></i>
              </button>
            </ion-nav-buttons>
</ion-nav-bar>



<!--Image List-->
<ion-view ng-show="{{$ctrl.images.length > 0}}" view-title="List">
  <ion-scroll zooming="true" direction="y">

  <ion-refresher
    pulling-text="refreshing..."
    on-refresh="$ctrl.doRefresh()">
  </ion-refresher>



        <div class="img-contain" height="100vh" ng-repeat="item in $ctrl.images track by $index">
          <i class="ion-android-download" aria-hidden="true" ng-click="$ctrl.viewPreview(item.image.public_id)"></i>
          <img ng-src="{{$ctrl.getPreview(item.image.public_id)}}"/>
        </div>

  </ion-scroll>
</ion-view>

<!--No Images-->
<ion-view ng-show="{{$ctrl.images.length == 0}}" view-title="List">

  <div class="table-contain">
   <div class="rectangle"><h2>test</h2></div>

      <div id="myImage" ng-show="$ctrl.photoExists">
        <img ng-src="{{$ctrl.URI}}"/>
      </div>

      <div class="center-block">
        <button class="add-image" ng-click="$ctrl.openModal('upload')">+</button>
      </div>
  </div>


</ion-view>


