<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Download an Image</h1>
    <button class="button-clear" ng-click="$ctrl.closeModal('download')">
    	<i class="ion-close-round"></i>
    </button>
  </ion-header-bar>
  <ion-content>
  <div class="download">

    <img ng-src="{{$ctrl.URI}}"/>
    <div class="text-center download-container">
    <div>
    <i class="ion-android-download"></i>
    </div>
      <button ng-click="$ctrl.download($ctrl.downloadURL)">Download This Image</button>
    </div>
  </div>
  </ion-content>
</ion-modal-view>
