<ion-modal-view id="download-modal">
  <ion-header-bar>

    <h1 class="title">Download?</h1>
      <button class="button-clear btn-right" ng-click="$ctrl.closeModal('download')">
      <i class="ion-close-round"></i>
    </button>
    
  </ion-header-bar>
  <ion-content>
  <div class="download text-center">

  
    <button class="button-clear" ng-click="$ctrl.download($ctrl.downloadURL)"><i class="ion-android-download"></i></button>

    <button class="button-clear" ng-click="$ctrl.download($ctrl.downloadURL)">Download This Image</button>

  
  </div>

  </ion-content>
</ion-modal-view>
